<div class="full-page">
    <div class="full-page-image js-load-image" data-src="404.jpg"></div>
    <div class="full-page-fade"></div>
    <div class="full-page-content mod-centered">
        <div class="container mod-centered">
            <h1 class="main-heading">This is awkward.</h1>
            <p class="lead">
                I can't seem to find the page you're looking for. You might have
                mistyped, or I might have screwed up. Either way, there's
                nothing to see here.
            </p>
            <a href="/" class="button">Go to the front page!</a>
        </div>
    </div>
</div>
