<div class="full-page">
    <div class="full-page-image js-random-background-image"></div>
    <div class="full-page-fade"></div>
    <div class="full-page-content mod-centered">
        <div class="container mod-centered">
            <h1 class="main-heading">Kristofer Selbekk</h1>
            <p class="lead">
                I'm a <strong>software engineer</strong> from <strong>Oslo, Norway</strong>, <br/>
                living in <strong>San Francisco, California</strong>.
            </p>

            <a class="button" href="/assets/docs/resume.pdf">Check my resume</a>

            <ul class="action-list">
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Send me an e-mail"
                        href="mailto:selbeezy@gmail.com"><span class="icon-email"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Check my Github repos"
                        href="https://www.github.com/selbekk"><span class="icon-github"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Connect with me on LinkedIn"
                        href="https://no.linkedin.com/in/selbekk"><span class="icon-linkedin"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Follow me on Twitter"
                    href="https://www.twitter.com/selbekk"><span class="icon-twitter"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Look at my Instagram"
                        href="https://www.twitter.com/selbekk"><span class="icon-instagram"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
