<div class="full-page" id="top">
    <div class="full-page-image js-load-image"
        data-src="background-01.jpg, background-02.jpg, background-03.jpg"></div>
    <div class="full-page-fade"></div>
    <div class="full-page-content mod-centered">
        <div class="container mod-centered">
            <h1 class="main-heading">Kristofer Selbekk</h1>
            <p class="lead">
                I'm a <strong>software engineer</strong> from <strong>Oslo, Norway</strong>, <br/>
                living in <strong>San Francisco, California</strong>.
            </p>

            <span><a class="button" href="/assets/docs/resume.pdf">Check my resume</a> &nbsp; <a class="button" href="/blog">Read my blog</a></span>

            <ul class="action-list">
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Send me an e-mail"
                        href="mailto:kristofer@selbekk.io"><span class="icon-email"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Check my Github repos"
                        href="https://www.github.com/selbekk"><span class="icon-github"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Connect with me on LinkedIn"
                        href="https://no.linkedin.com/in/selbekk"><span class="icon-linkedin"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Follow me on Twitter"
                    href="https://www.twitter.com/selbekk"><span class="icon-twitter"></span></a>
                </li>
                <li class="action-list-item">
                    <a class="action-list-item-link" title="Look at my Instagram"
                        href="https://www.instagram.com/selbekk"><span class="icon-instagram"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <a href="#apps" class="full-page-link mod-down" data-scroll></a>
</div>
<div class="full-page" id="apps">
    <a href="#top" class="full-page-link mod-up" data-scroll></a>
    <div class="full-page-image js-load-image" data-src="http://unsplash.it/2000/1000?random"></div>
    <div class="full-page-fade mod-linear"></div>
    <div class="full-page-content mod-centered">
        <div class="container mod-centered">
            <h2 class="main-heading">Apps and stuff</h2>
            <ul class="horizontal-list mod-thirds">
                <li class="horizontal-list-item">
                    <a href="https://stoptherain.herokuapp.com" class="box">
                        <h3 class="box-heading">Stop the rain</h3>
                        <p class="box-description">
                            Made during the breaks of a conference, this little
                            app stops the rain. No big deal.
                        </p>
                    </a>
                </li>
                <li class="horizontal-list-item">
                    <a href="http://bit.ly/postal-code" class="box">
                        <h3 class="box-heading">Zipcode locator</h3>
                        <p class="box-description">
                            Ever been a place and wondered what the zipcode is?
                            There's an app for that.
                        </p>
                    </a>
                </li>
                <li class="horizontal-list-item">
                    <a href="http://www.trepalmer.com" class="box">
                        <h3 class="box-heading">Tre Palmer</h3>
                        <p class="box-description">
                            Follow me and my partner's shenanigans while living
                            in San Francisco, CA.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
