<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{> title}}
    {{> open-graph}}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    <div class="site-wrapper">
        <div class="site-content wrapper">
            {{{ body }}}
        </div>
    </div>
    <script src="/assets/scripts.js"></script>
    {{> ga}}
</body>
</html>
