<div id="disqus_thread"></div>
<script> // Disqus script
(function() {
    var disqus_config = function () {
        this.page.url = '{{ url }}';
        this.page.identifier = '{{ slug }}';
    };
    var d = document, s = d.createElement('script');
    s.src = '//selbekkio.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
