.blog-post-title {
    border-bottom: 3px solid @color-grey-dark;
    font-size: 400%;
    padding-bottom: .5em;
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
}

.blog-post-published {
    text-align: center;
    margin-bottom: 1.5em;
}

.blog-post {
    font-size: 110%;

    * + * {
        margin-bottom: 1.5em;
    }

    h1, h2, h3 {
        margin-bottom: .5em;
        font-weight: lighter;
        text-transform: uppercase;
    }

    h1 {
        font-size: 230%;
    }

    h2 {
        font-size: 180%;
    }

    h3 {
        font-size: 130%;
    }

    ol,
    ul {
        padding-left: 1.5em;
    }

    li {
        margin-bottom: .5em;
    }

    blockquote {
        border-left: .3em solid @color-grey-light;
        color: @color-grey-dark;
        font-style: italic;
        font-size: 1.2em;
        padding-left: 1em;
    }

    a {
        border-bottom: 1px solid @color-primary;
        color: @color-primary;
        display: inline-block;
        padding: 0 .1em;
        text-decoration: none;
        transition: all .1s ease-out;

        &:focus,
        &:hover {
            background-color: @color-grey-lighter;
            border-color: @color-grey-lighter;
        }
    }
}
